{% extends "layouts/default.html.twig"%}
{% block content %}
<h1>Modifier votre profile</h1>
<form action="" method="POST">
    <label for="pseudo">Votre pseudo</label>
    <input id="pseudo" name="pseudo" type="text"/>
    <label for="email">Votre email</label>
    <input id="email" name="email" type="email"/>
    <input type="submit" value='modifier'/> 
</form>
{% endblock %}
    